body{
  margin: 0;
}

.contenu{
  text-align: center;
  display: block;
  width: 100vw;
  height: 100vh;
}

.bgImage{
  background-image: url("../Photo/body.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.contenu .header{
  margin-top: 30vh;
}

.contenu .title{
  font-size: 2.5em;
  font-weight: bold;
}

.contenu p{
  font-family: gill sans extrabold, century gothic, sans-serif;
  font-size: 2em;
  color: white;
  margin: 0;
}

.row{
  width:100%;
  height: 300px;
  padding-top: 40px;
}

.choix{
  --padding: 20px;
  display: inline-block;
  width: auto;
}

.row a{
  padding:10px 12px;
  font-family: gill sans extrabold, century gothic, sans-serif;
  font-size: 1.5em;
  color:white;
  border:white solid 2px;
  border-radius: 25px;
}

.choix1, .choix2{
  margin-right: 3%;
}

.row a:hover{
  text-decoration: none;
  color: teal;
  background-color: white;
}

@media (max-width:844px) {
  .choix{
    display:block;
  }
  .choix{
    margin: 40px 0;
  }
}
